#map { 
    height: 400px;
    z-index: 50;
    border-radius: 5px;
    margin-bottom: 20px;
}

#map_2 { 
    height: 550px;
    z-index: 50;
}

.mycluster { 
    background: #EF0275;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    /* padding-top: 5px; */
    /* border: 5px solid #CC1122; */
}